<a href="https://colab.research.google.com/github/Olumuyiwa19/Data-Science--Cheat-Sheet/blob/master/Copy_of_3_1_Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Functions

## Table of Contents

1. Creating functions
1. Default parameters
1. Help on functions

## 1. Creating Functions

Functions have
- Input parameters
- Output results
- One or more commands that are run when the function is called

Functions can be created in two ways (in Python.)
1. Using the `def` keyword
1. Using the `lambda` keyword

### 1.1 Keyword `def`

First create a function that contains a single command.

In [0]:
def plus_1(x):
  return(x+1)

In [2]:
plus_1(2)

3

Now create a function with a sequence of commands. 

The commands listed after the first line must be identically indented, otherwise you will get an error.

In [0]:
def multi_line_function(input1, input2): 
  input1.reverse()
  input2 = 2
  return(input1 * input2)

In [26]:
multi_line_function(['a','b'],3)

['b', 'a', 'b', 'a']

__Exercise__: Explain why the function only returns a list with two (reversed) copies of the first parameter (not three.)

Function parameters are new names for the input values. 

Study the next three code blocks and their output.

In [27]:
test1 = ['a', 'b']
test2 = 9
multi_line_function(test1, test2)

['b', 'a', 'b', 'a']

Notice that the contents of the `test1` variable was changed by the function.

In [28]:
test1

['b', 'a']

Notice that the contents of the `test2` variable was __not__ changed by the function.

In [29]:
test2

9

Explain Spock.
1. Function parameters are new names for the input values. For each parameter we have one value with two names. 
1. An assignment statement first creates a new object from the expression to the right of the `=`. Then it points the name (found to the left of the `=`) to the newly created object. This process won't change the object stored in a variable outside the function.
1. When the object pointed to by a parameter is modified or changed, the input variable and parameter variable both point to that same __changed__ object.

### 1.2 Keyword `lambda`

The `lambda` function creates functions which consist of a single command. The entire `lambda` command is written on one line. 

These functions can be stored in a variable (see next cell) or passed to another function (see further below.)

In [0]:
times_2 = lambda x: 2*x
times_3 = lambda x: 3*x

In [35]:
times_2(3)

6

The `myapply` function (below) takes two parameters:
- The first parameter should be a function. 
- The second parameter is used as input to the function (which is the first parameter.)

In [0]:
my_apply = lambda myFunc, myNumber: myFunc(myNumber)

In [40]:
my_apply(times_2, 10)

20

In [39]:
times_2(10)

20

In [41]:
my_apply(times_3, 1000)

3000

In [43]:
my_apply(lambda x: 4*x, 3)

12

__Exercise__: 
- Create a function `add` which has two inputs and returns their sum. Use the function to demonstrate that it works.
- Create a function `times` which has two inputs and returns their product. Use the function to demonstrate that it works.
- Create a function `apply` which has three inputs and returns the result of the first parameter, 
which is a function with two parameters, with inputs from the second and third parameters. 
Use the function to demonstrate that it works. 

For example, demonstrate that `apply(add,2,3)` returns `5` and `apply(times,2,3)` returns `6`.

### Default Parameters

Many Python functions, for instance `sorted`, have optional/default parameters.

In [44]:
sorted([4,3,9])

[3, 4, 9]

In [45]:
sorted([4,3,9], reverse=False)

[3, 4, 9]

In [46]:
sorted([4,3,9], reverse=True)

[9, 4, 3]

__Exercises:__ Create a function named `optfun` with a single parameter with default value `2` that returns `10` times the value of the first parameter. 

Demonstrate that `optfun()` returns `20` and `optfun(3)` returns `30`.

## 3. Help on Functions

Documentation for most functions that come with Python or with imported libraries is available from the `help` function.

In [47]:
help(len)

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

In [48]:
help(sorted)

Help on built-in function sorted in module builtins:

sorted(iterable, /, *, key=None, reverse=False)
    Return a new list containing all items from the iterable in ascending order.

    A custom key function can be supplied to customize the sort order, and the
    reverse flag can be set to request the result in descending order.

__The End__